.signup__container{
    padding:20px 5px;
}

.signup__container form{
    border:1px solid #777;
    padding:20px;
    border-radius: 20px;
    max-width: 100%;
    width: 400px;
    margin:0 auto;
}

.signup__container .form__links{
    margin-top: 1em;
}

.signup__container .btn--loading{
    padding:0px 30px;
}
.signup__container .btn--loading img{
    width:2em;
    filter: invert(39%) sepia(62%) saturate(4220%) hue-rotate(128deg) brightness(100%) contrast(98%);
}
