@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');

:root{
    --primary-color:#03fc66;
    --dark-color:#03a845;
    --light-color:#87f5b3;
}
*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Inter', sans-serif;
}

body{
    font-family: 'Inter', sans-serif;
}

.btn{
    padding:10px 20px;
    border-radius: 20px;
    background-color: var(--dark-color);
    color:white;
    border:none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color:var(--dark-color);
    border:1px solid var(--dark-color);
}


.form__control{
    margin:25px 0px;
}

.form__control input{
    width: 100%;
    padding:10px;
    font-size: 1.1rem;
    border:none;
    border-bottom:1px solid #777;
}

.form__control input:focus{
    outline: none;
    border:none;
    border-bottom: 3px solid var(--dark-color);
}

.form__control label{
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

.error--msg{
    background-color: pink;
    color:red;
    border:1px solid red;
    padding:5px;
    margin:8px auto;
    border-radius: 2px;
}

.loading--page{
    width:80%;
    margin:0 auto;
}

.loading--page .load--icon{
    filter: invert(39%) sepia(62%) saturate(4220%) hue-rotate(128deg) brightness(100%) contrast(98%);
    display: block;
    width:5em;
    height: 5em;
    margin:20px auto;
}

.page--info{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 900;
    margin:20px 0;
}
